[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
solana = "GRLdEPx7n4g2kowPvfPrPWpToeap3sHbKSDe18bCLyU5"

[programs.devnet]
datahaven_solana = "GRLdEPx7n4g2kowPvfPrPWpToeap3sHbKSDe18bCLyU5"

[programs.mainnet]
datahaven_solana = "GRLdEPx7n4g2kowPvfPrPWpToeap3sHbKSDe18bCLyU5"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
initialize = "node scripts/initialize.js"
